* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Mindesthöhe des Seiteninhalts, um den Footer zu schieben */
  position: relative; /* Relativer Positionierungs-Kontext für den Footer */
}
.container {
  display: flex;
  flex-direction: column;
}
header {
  background-color: deepskyblue;
  color: aliceblue;
}

/* nav */

.topnav {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: deepskyblue;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: deepskyblue;
  color: white;
}

.topnav a.active {
  background-color: deepskyblue;
  color: white;
}

.topnav .icon {
  display: none;
}
.myForm {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}
.dates {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 5%;
}
.people {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
}
#children,
#adults {
  width: 25%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2% 0 2% 0;
}
.welcome {
  padding: 2% 5% 2% 5%;
}
.line {
  align-items: center;
  background-color: deepskyblue;
  height: 1px;
  width: 92%;
  margin-left: 4%;
}
.line2 {
  align-items: center;
  background-color: deepskyblue;
  height: 1px;
  width: 100%;
  margin: 1% 0 2.5% 0;
}
.apartments {
  display: flex;
  align-items: start;
  padding: 2% 5% 2% 5%;
}
.slideshow-container {
  position: relative;
  padding: 2% 5% 2% 5%;
  margin: 0 auto;
  overflow: hidden;
}

.slideshow-slide {
  display: none;
  animation-name: slide;
  animation-duration: 1s;
}
.slideshow-slide img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.apartments_details {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2% 5% 2% 5%;
}
.apartment_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.apartment_img {
  max-width: 60%;
}
.apartment_img img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.description {
  width: 70%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
}

.checked {
  color: rgb(255, 169, 9);
}

/* img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

@media only screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    font-size: 1.3em;
    display: block;
    position: absolute;
    right: 2%;
    top: 0.5%;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .appartment_name {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
  }
  .welcome {
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px;
  }

  #hiddenText {
    display: none;
  }
}

/* .topnav .standard {
  padding-top: 2%; 
  font-size: 1em;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
} */

.topnav .headline {
  padding: 15px 15px 15px 15px; /* Update padding values */
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Parisienne', cursive;
}
