* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Mindesthöhe des Seiteninhalts, um den Footer zu schieben */
  position: relative; /* Relativer Positionierungs-Kontext für den Footer */
}
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  header {
    background-color: deepskyblue;
    color: aliceblue;
  }

  /* nav */
  .resortname {
    display: flex;
    flex-direction: column;
  }
  .topnav {
    padding: 5px 0 5px 15px;
    display: flex;
    overflow: hidden;
    background-color: deepskyblue;
  }
  .topnav .headline {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Parisienne', cursive;
  }
  .topnav .headline2 {
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Parisienne', cursive;
    margin: 0;
  }
  .fa-bars {
    color: #ffffff;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    font-size: 1.2em;
    display: block;
    position: absolute;
    right: 7%;
    top: 1.5%;
    z-index: 1000;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav a:hover {
    background-color: deepskyblue;
    color: white;
  }

  .topnav a.active {
    background-color: deepskyblue;
    color: white;
  }

  .topnav .icon {
    display: none;
  }
  .myForm {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
  }
  .dates {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5%;
  }
  .people {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
  }
  #children,
  #adults {
    width: 25%;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2% 0 2% 0;
  }
  .welcome {
    padding: 5px 15px 5px 15px;
    font-size: 0.9em;
  }
  #toggleButton {
    align-items: center;
    background-image: linear-gradient(134deg, #5b42f3, #00ddeb 35%, #5b42f3);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 0.7em;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 50px;
    padding: 9px 12px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .button-63:active,
  .button-63:hover {
    outline: 0;
  }

  @media (min-width: 768px) {
    .button-63 {
      font-size: 24px;
      min-width: 196px;
    }
  }
  .appartment_name {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
  }
  #hiddenText {
    display: none;
  }
  .line {
    align-items: center;
    background-color: deepskyblue;
    height: 1px;
    width: 92%;
    margin-left: 4%;
  }
  .line2 {
    align-items: center;
    background-color: deepskyblue;
    height: 1px;
    width: 100%;
    margin: 1% 0 2.5% 0;
  }
  .apartments {
    font-weight: 600;
    display: flex;
    align-items: start;
    padding: 2% 5% 2% 5%;
  }
  .slideshow-container {
    position: relative;
    padding: 2% 5% 2% 5%;
    margin: 0 auto;
    overflow: hidden;
  }
  .slideshow-slide {
    display: none;
    animation-name: slide;
    animation-duration: 1s;
  }
  .slideshow-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .apartments_details {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2% 5% 2% 5%;
  }
  .apartment_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .apartment_img {
    max-width: 60%;
  }
  .apartment_img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .appartment_name {
    font-weight: 500;
  }
  .description {
    font-size: 0.9em;
    width: 70%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
  }
  .fa-star {
    color: cadetblue;
  }
  .checked {
    color: rgb(255, 169, 9);
  }
}

/* img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* .topnav .standard {
  padding-top: 2%; 
  font-size: 1em;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
} */
